
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap');
@font-face {
	font-family:CreamCake ;
	src: url(/fonts/Cream\ Cake.otf);
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
	list-style: none;
    scroll-behavior: smooth;
}
:root{
	--bg-color: #ffffff;
	--text-color: rgb(255, 246, 227);
	--main-color: #ff4e14;
}
body{
	min-height: 100vh;
	background-image:url(/img/blackboard-bg.jpg) ;
	background-attachment: fixed;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
 
}
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 25px 12%;
	transition: all .50s ease;
}
.logo{
	display: flex;
	align-items: center;
}
.typed-cursor {
	color:rgba(12,3,51,0);
}
#hero
{
    width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
    justify-content: center;

}

video
{
	filter: brightness(50%);
	filter: sepia(50%);
	box-shadow: #060606 0px 20px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
} 
.content
{
	text-align: center;
	margin-left:50px ;
	user-select: none;
}
.cta
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn
{
	padding: 20px 40px;
	border: 2px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	background-color: transparent;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 1px;
	
	transition: all .50s ease;
	cursor: pointer;
}
.content h1{
	font-size: 140px;
    font-weight: 400;
	color: #fff;
	display: flex;
	align-items: center;
    justify-content: center;
	margin-top: 18%;
	margin-left:-22px;
}
.main-text
{
    position: absolute;
	
    top: 50%;
    left: 50%;
}
.navbar{
	display: flex;
}
.menu{

	background-image: url(/img/wood-bg2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	transition: 0.5s;
	box-shadow: #060606 10px 10px 10px;
}

.menu-title
{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	padding-top: 50px;
	letter-spacing: 1px;
	line-height: 1.5;
	z-index: 998;
    font-weight: 400;
	color: rgb(255, 255, 255);
	 
}
.subtitle 
{
	margin-left: 25%;
	font-size: 5rem;
	padding-top: 50px;
	letter-spacing: 1px;
	line-height: 1.5;
	z-index: 998;
	font-family: 'CreamCake', cursive;
    font-weight: 400;
	color: rgb(229, 73, 0);
	 
}
.disclaimer
{
	margin-left: 24%;
	font-size: 2rem;
	padding-top: 50px;
	letter-spacing: 1px;
	line-height: 1.5;
	z-index: 998;
    font-weight: 400;
	color: rgb(250, 250, 250);
	 
}
.menu-item
{
	color: #ffefaa;
}
.menu-items
{
	/* Lista de Menu*/
	font-size: 3em;
	display: flex;
	margin-left: 25%;
	margin-right: 25%;
	color: #fff;
	padding-top:50px ;

}
.menu-description
{
	font-size: .55em;
	color: rgb(245, 245, 245);
	padding-top: 15px;
	padding-bottom: 20px;
	
}
.img-links
{
	color: #ffefaa;
}

.conocenos
{

	filter: drop-shadow();
	display: flex;
	background-color: rgb(242, 240, 220);
	z-index: 99;
	align-items: center;
	justify-content: center;
	
}

.conocenos-content
{
	background-color: rgb(255, 255, 255);
	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.5));
	width: 80%;
	display: flex;
	justify-content: center;
    align-items: center;
	margin-bottom: 20px;
	margin-top: 50px;
	border-radius: 10px;
	
}
.conocenos-title
{
	font-size: 6rem;
	padding-top: 50px;
	letter-spacing: 1px;
	line-height: 1.5;
	z-index: 998;
	font-weight: 400;
	color: rgb(229, 73, 0);
	font-family: 'CreamCake', cursive;
	 

	display: flex;
	align-items: center;
	justify-content: center;
}
.conocenos-subtitle
{
	font-size: 5rem;
	
	letter-spacing: 1px;
	line-height: 1.5;
	z-index: 998;
	font-weight: 400;
	color: rgb(229, 84, 0);
	font-family: 'CreamCake', cursive;
	 
	margin-left: 27%;
	margin-bottom: -110px;
    margin-top: 18px;
}
.description
{
	font-size: 2rem;
	text-align: justify;
	letter-spacing: 0.5px;
	line-height: 1.4;
	z-index: 998;
	font-weight: 400;
	color: rgb(0, 0, 0);
	/*font-family: 'Times New Roman', Times, serif;*/
	 margin-left: 27%;
	padding-right: 50px;
	
	
	
	margin-top: 100px;
	
	font-weight: 400;
    color: rgb(0, 0, 0);
	
	
}
	
.conocenos-description
{
	font-size: 2rem;
	padding-top: 50px;
	/*font-family: Georgia, 'Times New Roman', Times, serif;*/
	line-height: 1.3;
	z-index: 998;
	font-weight: 400;
	text-align: justify;
	color: rgb(0, 0, 0);
	margin-left: 6%;
	margin-right: 43%;
	padding-bottom: 80px;
	
}
.conocenos-description2
{
	font-size: 2rem;
	padding-top: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.3;
	z-index: 998;
	font-weight: 400;
	text-align: justify;
	color: rgb(0, 0, 0);
	margin-right: 5%;
	
	padding-bottom: 80px;
	
}
.restaurant-img
{
	width: 30%;
	
	margin-bottom: 30px;

	margin-left: 30px;
	margin-right:7%;
	
	float: right;
}

.personal
{
	
	width: 300px;
	transition: all linear 0.7s;
}

img.box
{
	width: 300px;
	transition: all linear 0.7s;
	float: left;
}
img.hover-img
{
	width: 300px;
	transition: all linear 0.7s;

	position: absolute;
	top: 0;
    left: 0;
    opacity: 0;
}

.box
{
	
   position: relative;
  
   width: 300px;
   height: 300px;
	  margin-left: 6%;
	 margin-top: -200px;
	  margin-bottom: 45px;
	

}
.box:hover img{
	opacity: 0;
}
.box:hover img.hover-img{
	opacity: 1;
}

.quote
{
	display: flex;
	align-items: center;
    justify-content: center;
	position: relative;
	color: #fff;
	user-select: none;
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5;
	z-index: 998;
	margin-top: 28%;
	padding-bottom: 35px;
	font-size: 140px;
    font-weight: 400;
	
	font-family: 'CreamCake', cursive;
	
}

.galeria h2
{
margin-left: 42%;
}
.slider{

	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 30%;
	padding-bottom: 50px;
	box-shadow: #060606 0px 0px 10px;
  }
  .contenedor
  {
	padding-bottom: 100px;
  }
  .slides{
	width: 500%;
	height: 500px;
	display: flex;
	filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.5));
	
  }
  
  .slides input{
	display: none;
  }
  
  .slide{
	width: 20%;
	
	transition: 2s;filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  
  .slide img{
	width: 800px;
	height: 500px;
	
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
  }
  
  .manual-btn{
	border: 2px solid #dc6440;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
  }
  
  .manual-btn:not(:last-child){
	margin-right: 40px;
  }
  
  .manual-btn:hover{
	background: #dc6740;
  }
  
  #radio1:checked ~ .first{
	margin-left: 0;
  }
  
  #radio2:checked ~ .first{
	margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
	margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
	margin-left: -60%;
  }
  #radio5:checked ~ .first{
	margin-left: -80%;
  }
  #radio6:checked ~ .first{
	margin-left: -100%;
  }
  #radio7:checked ~ .first{
	margin-left: -120%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
  }
  
  .navigation-auto div{
	border: 2px solid #dc5d40;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
	margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
	background: #f85419;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
	background: #f85419;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
	background: #f85419;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
	background: #f85419;
  }
  #radio5:checked ~ .navigation-auto .auto-btn5{
	background: #f85419;;
  }
  #radio6:checked ~ .navigation-auto .auto-btn6{
	background: #f85419;;
  }
  #radio7:checked ~ .navigation-auto .auto-btn7{
	background: #f85419;;
  }
		
.galeria{
	
	margin-bottom: 50px;
	background-color: rgb(242, 240, 220);
	z-index: 99;
	align-items: center;
	justify-content: center;
	z-index: 998;
	font-size: 80px;
}
.map
{
	
	padding: 20px;
	margin-left: 25%;
}

.bg
	{
		background-color: rgba(0, 0, 0, 1);
		
		box-shadow: #060606 0px 0px 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 160px;
				padding-right: 160px;;
		
	}
.bbq
{
    width: 150px;
}
.navbar a{
	color: var(--text-color);
	font-size: 1.6rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 80px;
	transition: all .50s ease;
}
.navbar a:hover{
	color: var(--main-color);
}
.navbar a.active{
	color: var(--main-color);
}
.main{
	display: flex;
	align-items: center;
}
.main a{
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}
.user{
	display: flex;
	align-items: center;
}
.user i{
	color: var(--main-color);
	font-size: 28px;
	margin-right: 7px;
}
.main a:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}


@media (max-width: 1280px){
	header{
		padding: 25px 5%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
	.content h1{
		font-size: 100px;
	}

.conocenos-title
{
margin-left: 20px;
}
}
@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	header
	{
		
		padding: 10px;
	}
	.quote{
		margin-top: 2%;
		font-size: 4rem;
		line-height: 1;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 200px;
		height: 56vh;
		background : #060606;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		
		border-radius: 5px;
		box-shadow: #060606 0px 0px 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 50px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar a:hover{
		color: var(--text-color);
		transform: translateY(5px);
	}
	
	.navbar.open{
		right: 2%;
	}
	.content h1{
		font-size: 32px;
		margin-top: 27%;
	}
	.logo img{
		width: 100px;
	}
	.btn
	{
		padding: 10px 20px;
		font-size: 1rem;
		margin: 20px 20px;
	}
	.menu-title
	{
		font-size: 3rem;
		padding-top: 50px;
		letter-spacing: 1px;
		line-height: 1.5;
		z-index: 998;
		font-weight: 400;
		color: rgb(250, 250, 250);
	}
	.subtitle
	{
		text-align: center;
		padding-top: 0px;
		font-size: 4rem;
		margin-left: 0%;
		z-index: 998;
		font-weight: 400;
		color: rgb(255, 113, 37);
	}
	.menu-items
    {
        font-size: 2.5rem;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	}
	.conocenos-title
	{
		font-size: 3rem;
		padding-top: 20px;
		letter-spacing: 1px;
		line-height: 1.1;
		z-index: 998;
		font-weight: 400;
		margin-right: 10px;
		color: rgb(229, 73, 0);
		text-align: center;
	}
	.conocenos-description
	{
		font-size: 1.3rem;
		padding-top: 30px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		line-height: 1.3;
		z-index: 998;
		font-weight: 400;
		text-align: justify;
		color: rgb(0, 0, 0);
		margin-left: 10%;
		margin-right: 20px;
		padding-right:10px ;
	}
	.restaurant-img
	{
		width: 100%;
		margin-bottom: 10px;
		margin-left: 0px;
		margin-right:0px;
		float: none;
	}
	
	
	
	.disclaimer
	{
		font-size: 1.7rem;
		padding-top: 20px;
		text-align: center;
		line-height: 1.3;
		z-index: 998;
		font-weight: 400;
		color: rgb(255, 255, 255);
		margin-left: 10%;
		margin-right: 10%;
	}
	.restaurant-img
	{
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	.box img
	{
		width: 90%;
        margin-bottom: 10px;
	}
	.conocenos-subtitle
	{
		margin-top: -30px;
	}
	
	.description
	{
		text-align: justify;
		font-size: 1.2rem;
		margin-left: 5%;
		margin-right: -5%;
		margin-bottom: 220px;
	}
}
